@import "../../styles/variables.scss";
.searchBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 20rem;
  max-width: 25rem;
  background-color: white;
  border: 1px solid $optimzeColor;
  border-radius: 15px;
  padding: 0.25rem 0;
  position: relative;
  z-index: 1000;

  input {
    color: black;
    background-color: transparent;
    border: 2px solid transparent;
    outline: none;
    height: 2.4rem;
    width: 100%;
    font-size: 1rem;
  }
  ::placeholder {
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.5rem;
    padding-left: 0;
    color: $gray_lighter;
  }
}
.btn-search {
  background-color: transparent;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 1rem;
  &.clear {
    cursor: pointer;
  }
}
.search-background {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 4rem;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 500;
  background-color: rgba(85, 85, 85, 0.151);
  cursor: pointer;
}
.search-label {
  padding: 0.5rem;
  font-size: 0.9rem;
  border-bottom: 1px solid $optimzeColor;
  box-shadow: $optimzeShadow;
}
.lockedCardsLabel {
  padding: 0.5rem;
  border-bottom: 1px solid $optimzeColor;
  background-color: $optimzeColorLight;
}
.searchResult-scrollable {
  max-height: 750px;
  overflow-y: auto;
}
.searchResult-box {
  width: 100%;
  min-width: 20rem;
  max-width: 25rem;
  top: -1rem;
  left: 0;
  margin-top: 4rem;
  position: absolute;
  z-index: 1000;
  background-color: white;
  border: 1px solid $optimzeColor;
  border-radius: 15px;
  // border-bottom-left-radius: 5px;
  // border-bottom-right-radius: 5px;

  @media (max-width: 480px) {
    position: fixed;
    min-width: 95vw;
    margin-top: 5rem;
  }

  &--item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $optimzeColor;
    cursor: pointer;
    padding: 0.3rem;
    &:hover {
      background-color: $optimzeColorLight;
    }

    &__body {
      display: flex;
      flex-direction: column;
      padding: 0.3rem;
      flex-grow: 1;
    }
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.search-tags {
  font-size: 0.7rem;
}
.play-icon {
  display: flex;
}
.locker-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0.3rem;
  // border: 1px solid $optimzeColor;

  &--locker {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    // border: 1px solid $optimzeColor;
    border-radius: 5px;
    &:hover {
      border: 1px solid $optimzeColor;
      box-shadow: $optimzeShadowHover;
    }
    img {
      height: 40px;
    }
  }
}
