// COLORS
$optimzeColor: rgb(226, 229, 236);
$optimzeColorLight: rgb(247, 247, 247);

//optimze
$gray_lighter: #afafaf;
$gray_light: #e2e5ec;
$gray_medium: #f7f9f9;
$gray_try: #dadada;
$gray_dribble: #fafafb;

//experimental
$orengipink: #fc5d47;
$pinkish: #ff1053;
$blueish: #3545ee;
$lingleeGray: #f6f4fc;
// $lingleeGray: #fbf9ff;

$wowLegendary: #ffcc14;
$green: #c9ff75;
$pinkish: #ff1053;

$tw_grey: hsla(0, 0%, 100%, 0.2);
$tw_grey_secondary: hsla(0, 0%, 100%, 0.15);
$tw_grey_light: #a2a2ac;

$tw_dark: #18181b;
$black: #3c464e;

$twichPrimary: #9147ff;
$twichSecondary: #5c16c5;

$pokemonDarkGreen: #1c8696;
$normalGreen: #5ebd6d;
$flatGreen: #78e08f;
$blue: #246ee9;
$darkBlue: #2047ab;
$eggHeadRed: #fa385e;
$darkEggHeadRed: #bd2b4896;

$eggHeadOrangeLight: #ffd255;
$eggHeadOrange: #ffb855;
$eggHeadOrange2: #ffa11d;
$darkEggHeadOrange: rgba(211, 141, 44, 0.808);

// SHADOWS
$fbShadow: 0 1px 2px rgba(0, 0, 0, 0.08);
$fasticShadow: 0px 0px 5px 1.5px rgba(0, 0, 0, 0.08);

$optimzeShadow: 0 2px 4px rgba(0, 0, 0, 0.08);
$optimzeShadowHover: 4px 4px 6px -1px rgba(0, 0, 0, 0.08);

// SCREEN MEDIA SIZE
$mobile-size: 480px;
$tablet-size: 760px;
$desktop-size: 1200px;
